<!doctype html>
<html>
<head>
	<title>Dessert Profile</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body style="background-color: #323232">
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3 jumbotron text-center" style="">

			<h1><span class="fa fa-cloud"></span> Dessert</h1><br><br><br>



			<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
			<a href="/register" class="btn btn-default"><span class="fa fa-user"></span> Register</a>
			<a href="/" class="btn btn-default" style="background-color: #46629E; color: white"><span class="fa fa-facebook"></span> Facebook</a>
			<a href="/" class="btn btn-default" style="background-color: #DD4B39; color: white"><span class="fa fa-google-plus"></span> Google</a>

		</div>
	</div>
</body>
</html>