
<div id="routeBar">
	<path ng-repeat="path in paths">
		<!--class="fa fa-home"-->
		<span ng-if="!$first" class="fa fa-angle-right"></span><a href="#files/{{path.path}}" ng-class="path.name.length==0?'fa fa-home':''" ng-if="!$last">{{path.name}}</a><span ng-class="path.name.length==0?'fa fa-home':''" ng-if="$last">{{path.name}}</span>
	</path>
</div>
<file ng-repeat="file in files">
	<a href="#files/{{file.owner.username}}{{file.route}}" style="text-align: center" context-menu data-target="menu-{{ $index }}">
		<img ng-if="file.type=='dir'" src="images/folder.png" width="35px">
		<img ng-if="file.type!='dir'" src="{{file.binary}}" width="35px">
		<p>{{ file.name }}</p>
	</a>
	<div class="dropdown position-fixed" id="menu-{{ $index }}">
		<ul class="dropdown-menu" role="menu">
			<li>
				<a class="pointer" role="menuitem"
				   ng-click="delete()">Delete</a>
			</li>
			<li>
				<a class="pointer" role="menuitem"
				   ng-click="rename()">Rename</a>
			</li>
		</ul>
	</div>
</file>

<input id="uploadFile" onchange="angular.element(this).scope().uploadFile(this)" ng-model="file" type="file" name="filePath"/>

<div class="modal fade" id="newFolder">
	<div class="modal-content">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<h4 class="modal-title" id="myModalLabel">New folder</h4>
		<br><br>
		<p>Please enter a name for the new folder:</p>
		<input type="text" ng-model="folderName">
		<br><br>
		<button type="button" class="btn btn-primary" ng-click="newFolder()">Create</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
</div>