
<div class="container">
	<div class="top-bar">
		<div class="row">
			<div class="col-ms-4 col-lg-4">
				<a href="" class="toggle-side-menu"><i class="fa fa-bars"></i></a>
			</div>
			<div class="col-ms-4 col-lg-4">
				<a class="navbar-brand" href="/">Dessert</a>
			</div>
			<div class="col-ms-4 col-lg-4">
				<ul class="nav navbar-nav navbar-right">
					<li ng-hide="user.isLogged">
						<a href="" data-toggle="modal" data-target="#login"><span class="fa fa-sign-in"></span> Login</a>
					</li>
					<li ng-show="user.isLogged" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="">
							<img src="/images/avatar.jpg" class="img-rounded"> v-five <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<i class="fa fa-caret-up dropdown-caret"></i>
							<li><a href="/profile"><span class="fa fa-user"></span> Profile</a></li>
							<li><a href=""><span class="fa fa-gear"></span> Settings</a></li>
							<li class="divider"></li>
							<li><a href="/logout"><span class="fa fa-sign-out"></span> Logout</a></a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- end .top-bar -->
</div>


<modal-dialog></modal-dialog>